build

## IDE ###
.idea

## Kotlin
.kotlin

## Clones
/clones

### Mac OS ###
.DS_Store
/local.properties

.gradle
yarn.lock
invert-report/src/jsMain/resources/js
af-analysis-report/src/jsMain/resources/js
invert-plugin/src/main/resources/META-INF

# Large Compiled Binaries
invert-gradle-plugin/src/main/resources/META-INF/invert_web.js
invert-gradle-plugin/src/main/resources/META-INF/invert_web.js.map
/invert-gradle-plugin/src/main/resources/META-INF/invert-report.js
/invert-gradle-plugin/src/main/resources/META-INF/invert-report.js.map
