[data-bs-theme="dark"] img.bootstrap-icon {
    filter: invert(100);
}

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
    text-align: left;
}

.sidebar-heading {
    font-size: .75rem;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.nav-pills {
    /*--bs-nav-pills-link-active-bg: #0d6efd;*/
    --bs-nav-pills-link-active-bg: rgb(13, 110, 253, 0.2) !important;
}